<VirtualHost *:80>
	
        <Proxy balancer://{{ nombre_cluster }}>

		BalancerMember http://{{ nodo1 }}:{{ puerto1 }}
		BalancerMember http://{{ nodo2 }}:{{ puerto2 }}
		
		Require all granted
	</Proxy>

        ServerName talleragosto.com.uy
	ServerAlias www.talleragosto.com.uy

	ProxyPass / balancer://{{ nombre_cluster }}/
	ProxyPassReverse / balancer://{{ nombre_cluster }}/

</VirtualHost>
